.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:hover {
        .card_title {
            background-color: #e5e5e5;
            color: #000000;

        }
    }

    &_image {
        width: 100%;
        max-width: 250px;
    }

    &_title {
        background: #1296ba;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in;
        height: 40px;
        max-width: 250px;

        &:hover {
            background-color: #e5e5e5;
            color: #000000;
        }

    }
}